h1 {
  text-emphasis: bold;
  text-transform: uppercase;
}

h3 {
  color: #FFFFFF;
  text-emphasis: bold;
  text-transform: capitalize;
}

body {
  font-size: 1.5em;
}

#forecast {
  display: inline-block;
}

#menu-main-menu {
  width: 100%;
}

.navbar-static-top {
  background-color: #8C131C;
}

.navbar-static-top a, a:hover, a:visited, a:active, a:link {
  color: #FFFFFF;
  text-decoration: none;
}

.nav {
  padding-right: 1em;
  text-transform: uppercase;
  text-align: right;
}

.brand {
  text-transform: uppercase;
}

.line {
  padding: 0 .5em;
  border-bottom: 1px solid grey;
  font-weight: bold;
}

/*.hline {
  padding: .5em 0;
}*/

.wline {
  padding: .5em 0;
  font-weight: bold;
}

.highlight {
  color: blue;
}

.briefs a, .briefs a:hover, .briefs a:visited, .briefs a:active, .briefs a:link {
  color: #8C131C;
}

.logo {
  width: 100%;
}

.navbar-header {
  padding-bottom: 1%;
}

.briefs h1 {
  margin-top: 0;
}

@keyframes pulse {
  from {color: #FFFFFF;}
  to {color: #777777;}
}

.loading {
  color: #777777;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: 10;
  animation-direction: alternate;
}

@media (max-width: 800px) {
  .navbar-header {
    padding-left: 5%;
  }
}
