{%extends "layout.html"%}
{%block content%}
<div class="briefs row">
  <div id="about" class="col-md-12">
    <p class="about"></p>
  </div>
  <div id="weather" class="col-md-4">
    <p class="loading">( loading weather... )</p>
  </div>
  <div id="forecast" class="col-md-4">
    <p class="loading">( loading forecast... )</p>
  </div>
  <div id="ENG" class="col-md-4">
    <p class="loading">( loading engadget... )</p>
  </div>
  <br>
</div>
<div class="briefs row">
  <div id="CNN" class="col-md-4">
    <p class="loading">( loading CNN... )</p>
  </div>
  <div id="NYT" class="col-md-4">
    <p class="loading">( loading New York Times... )</p>
  </div>
  <div id="WSJ" class="col-md-4">
    <p class="loading">(loading Wall Street Journal... )</p>
  </div>
</div>
{%endblock%}
