<h1>Weather</h1>
<div class="">
  <div class="wline">Temperature: <span class="highlight">{{ curr[0] }}</span></div>
  <div class="wline">Humidity: <span class="highlight">{{ curr[1] }}</span></div>
  <div class="wline">Conditions: <span class="highlight">{{ curr[2] }}</span></div>
  <div class="wline">Wind Speed: <span class="highlight">{{ curr[3] }} mph</span></div>
  <div class="wline">Wind Direction: <span class="highlight">{{ curr[4] }}</span></div>
</div>
<div class="">
  <br>
  info provided by:
  <img src="static/images/wundergroundLogo_4c_horz.jpg" alt="wunderground logo" style="width:120px;">
</div>
<br/>
